<h1>{{title}}</h1>
<main>
  <p class="paragraph">You can use this website to find venues based on their name or tag. By typing the name of the venue into the following form and submitting it, you can get Top 10 venues related to your search. Furthermore you can also get detail information of any venue by clicking on it.</p>
  <form method="POST" action="/searchvenues">
    <div>
      <label for="searchVenueTerm" class="label">Search for a Venue:</label>
      <input type="text" id="searchVenueTerm" name="searchVenueTerm" class="box">
      <input type="submit" value="Submit" class="btn">
    </div>
  </form>
</main>